<h1>All Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active Since</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name%>
        <td><%= member.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>