<table>
<thead>
  <tr>
    <th>#</th>
    <th>Title</th>
  </tr>
</thead>
<tbody>
  <% number = 0 %>
  <% @myetalases.each do |etalase| %> 
  <tr>
    <td><%= number+=1 %></td>
    <td><%= link_to etalase.title, etalase %></td>
    <td><%= link_to 'Edit etalase', edit_etalase_path(etalase) %></td>
    <td><%= link_to 'Destroy', etalase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end  %>
</tbody>
</table>