<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%=category.name%></td>
        <td> <%= category.description %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>
